<div class="edit">
    <%= link_to("Go Back", books_path, :class=>'back-link')%>

    <h1>Edit existing phrase</h1>
    <!-- HTML based on tutorials by Kevin Skoglund on LinkedInLearning "Ruby on Rails 6 Essential Training"-->
    
    <%= form_for(@book) do |f| %>

    <table summary="Phrase form fields">
      <tr>
        <th><%= f.label :title, 'Phrase'%></th>
        <td><%= f.text_field(:title) %></td>
      </tr>
      <tr>
        <th><%= f.label :author, 'Desc (opt)'%></th>
        <td><%= f.text_field(:author) %></td>
      </tr>
      <tr>
        <th><%= f.label :genre, 'Color'%></th>
        <td><%= f.select :genre, options_for_select([["Blue"],["Green"],["Red"],["Yellow"],["Gray"]]) %></td>
      </tr>
     
    </table>

    <div class="form-buttons">
      <%= f.submit("Update phrase") %>
    </div>
    <% end %>
</div>