
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<style>

/* The heart of the matter */
.btn-matrix > .btn:nth-child(3n+4) {
  clear: left;
  margin-left: 0;
}
.btn-matrix > .btn:nth-child(n+4) {
  margin-top: -1px;
}
.btn-matrix > .btn:first-child {
  border-bottom-left-radius: 0;
}
.btn-matrix > .btn:nth-child(3) {
  border-top-right-radius: 4px !important;
}
.btn-matrix > .btn:nth-last-child(3) {
  border-bottom-left-radius: 4px !important;
}
.btn-matrix > .btn:last-child {
  border-top-right-radius: 0;
}

/* Decorations */
.btn-matrix {
  margin: 20px;
}


</style>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


<div class ="books">
    
    
    <!-- HTML based on tutorials by Kevin Skoglund on LinkedInLearning "Ruby on Rails 6 Essential Training"-->
    <!-- Table template from Faiz Ahmed https://codepen.io/faaezahmd/pen/dJeRex-->
    <div class="container">
    <h2>TalkBuddy</h2>
    <%= link_to("Add a phrase.", new_book_path, :class=> 'action new btn btn-lg btn-success')%>
    <br>

        <div class="btn-group btn-matrix" id="new">
            <% @books.each do |book| %>
                <script type="text/javascript">
                    function pageLoad(e){
                        var btn2BAdded = document.createElement("input");
                        btn2BAdded.type = "button";
                        btn2BAdded.className += 'btn btn-lg';
                        btn2BAdded.className += "<%= book.genre == "Blue" ? ' btn-primary' : ''%>";
                        btn2BAdded.className += "<%= book.genre == "Green" ? ' btn-success' : ''%>";
                        btn2BAdded.className += "<%= book.genre == "Yellow" ? ' btn-warning' : ''%>";
                        btn2BAdded.className += "<%= book.genre == "Red" ? ' btn-danger' : ''%>";

                        var textTyped = "<%= book.title %>";
                        btn2BAdded.value = textTyped;
                        btn2BAdded.id = "btn_rv";
                        var element = document.getElementById("new");
                        element.appendChild(btn2BAdded);
                        btn2BAdded.addEventListener('click', function(){
                            var dialog = new SpeechSynthesisUtterance(textTyped);
                            speechSynthesis.speak(dialog);
                        }, false);
                            
                    };
                     
                </script>

               <script type="text/javascript">
                
                    pageLoad();
                
                </script>

                <!--<button type="button" class="btn btn-lg btn-default" data-toggle="tooltip" data-placement="top" title="<%= book.author %>"><%= book.title %></button>-->
            <%end%>
        </div>

        <br><br><br><br><br><br><br><br><br><br><br>
       
    
        <ul class="responsive-table">
        
            <li class="table-header">
            <div class="col col-1">Phrase</div>
            <div class="col col-2">Description</div>
            <div class="col col-3">Actions</div>
            </li>
            <% @books.each do |book| %>
                <li class="table-row">
                    <div class="col col-1" data-label="Title"><%= book.title %></div>
                    <div class="col col-2" data-label="Author"><%= book.author %></div>
                    <div class="col col-3" data-label="Actions"> 
                        <%= link_to("Edit", edit_book_path(book), :class => 'action edit action new btn btn-warning') %>
                        <%= link_to("Delete", delete_book_path(book), :class => 'action delete btn btn-danger') %>
                        </div>
                </li>
            <%end%>
        </ul>
         
    </div>
</div>
    


